<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Estoque</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-200 min-h-screen">
    <div class="container mx-auto bg-white border-2 border-gray-300 p-4 mt-4 mb-4">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
